@media all and (max-width: 1055px) {

    header .header-bottom {
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
    }

    header .header-bottom .header-categories {
        display: none;
    }

    header .header-bottom .mob-nav {
        display: block;
    }

    header .header-bottom .btn-mob {
        display: block;
        background-image: url('../img/svg/menu.svg');
        width: 30px;
        height: 30px;
    }
}

@media all and (max-width: 700px) {

    header .header-top .langs {
        display: none;
    }

    header .header-top .lang-nav {
        display: block;
        float: left;
        margin-top: 10px;
    }

    header .header-top .lang-nav .btn-mob {
        display: block;
        background-image: url('../img/png/english-language.png');
        width: 16px;
        height: 16px;
    }

    header .header-top .lang-nav .btn-mob:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        border-radius: 2px;
        margin-left: 14px;
        position: relative;
        top: -2px;
        color: #ffffff;
    }

    header .header-top .curr-nav {
        display: block;
        float: left;
        margin-left: 20px;
        margin-top: 10px;
    }

    header .header-top .curr-nav .btn-mob {
        display: block;
        background-image: url('../img/png/dollar-symbol.png');
        width: 16px;
        height: 16px;
    }

    header .header-top .curr-nav .btn-mob:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        border-radius: 2px;
        margin-left: 10px;
        margin-right: 5px;
        position: relative;
        top: -2px;
        color: #ffffff;
    }

    header .header-top .curr-nav {
        display: block;
    }

    header .header-top {
        display: inline-block;
    }

    header .header-top .header-links {
        float: right;
    }

    header .bg {
        height: 43px; 
    }

    header .bg .header-top {
        width: 100%;
    }
}

@media all and (max-width: 620px) {

    header .header-bottom .rigth-part .mob-version {
        display: block;
    }

    header .header-bottom .rigth-part span:nth-child(1) {
        display: none;
    }
}

@media all and (max-width: 575px) {

}

@media all and (max-width: 550px) {

    header .header-bottom .rigth-part .search {
        display: none;
    }

    header .header-top .mob-version {
        display: block;
    }

    header .header-top .search {
        border: 1px solid #C6C6C6;
        max-width: 174px;
        height: 29px;
        float: right;
        margin-top: 4px;
        margin-right: 14px;
        background-color: #ffffff;
        margin-right: 0;
        margin-top: 7px;
    }
    
    header .header-top .search input {
        width: 85%;
        height: 100%;
        vertical-align: top;
        padding-left: 9px;
    }
    
    header .header-top .search input:focus::placeholder {
        font-size: 13px;
        color: transparent;
    }
    
    header .header-top .search button {
        width: 15px;
        height: 15px;
        background-image: url('../img/png/sprite.png');
        background-position: -17px -9px;
        vertical-align: top;
        margin-top: 7px;
    }

    header .bg {
        min-height: 70px; 
    }

    header .header-top .header-links {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 4px;
    }
}

@media all and (max-width: 391px) {

    header .bg {
        min-height: 90px; 
    }
}

@media all and (max-width: 350px) {

    header .header-bottom h1 {
        font-size: 26px;
    }

    header .header-bottom {
        height: 50px;
    }

    header .header-bottom .btn-mob {
        width: 25px;
        height: 25px;
    }
}